* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #AC3400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
body {
  height: 100vh;
  width: 100vw;
  background: url('../assets/images/utils/pexels-axp-photography-16386722-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  justify-content: center;
  align-items: center;
}
form label {
  font-size: 23px;
  font-weight: bold;
}
form input {
  width: 200px;
  height: 30px;
  border: 1px solid #AC3400;
}
form button {
  border: none;
  background: none;
}
form button:hover {
  cursor: pointer;
  background: rgb(255, 255, 255, 0.2);
  scale: 1.1;
  border-radius: 10%;
}
form button img {
  width: 40px;
}

/* START RESPONSIVE */
@media screen and (min-width: 600px) and (min-height: 568px) {
  form label {
    font-size: 40px;
  }
  form input {
    scale: 1.4;
  }
  form button img {
    width: 8vw;
    max-width: 60px;
  }
}

@media screen and (min-width: 750px) and (min-height: 568px) {
  form {
    row-gap: 30px;
  }
  form label {
    font-size: 40px;
  }
  form input {
    scale: 1.4;
  }
  form button img {
    width: 8vw;
    max-width: 60px;
  }
}

@media screen and (min-width: 1000px) and (min-height: 568px) {
  form {
    transform: translateX(-10px);
}
}

@media screen and (min-width: 1200px) and (min-height: 568px) {
  form {
    row-gap: 3em;
  }
  form label {
    font-size: 3em;
  }
  form input {
    scale: 1.7;
    height: 35px;
  }
}