@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* START RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}
li {
  list-style: none;
}
/* END RESET*/

/* START HEADER */
.header {
  border-bottom: 1px solid red;
}
.header__img {
  width: 3rem;
}
.header__link {
  font-size: 0.7rem;
}
.header__link:hover {
  color: inherit;
  border-bottom: 1px solid black;
}
/* END HEADER */

/* START MAIN */

/* END MAIN */

/* START FOOTER */

/* END FOOTER */